body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* a {
  text-decoration: none;
  color: black;

} */


#map{
  position: fixed;
  margin: flex;
  /* position: relative; */
  margin-left: 250px;
  margin-top: 50px;
}

#shop_container{
  margin-top: 90px;
  margin-left: 0px;
  /* position: relative; */
}

#containter{
  margin-top: 500px;
  margin-left: 5px;
}

#header{
  position: fixed;
  background-color: blue;
  /* margin-bottom: 100px; */
}

.row{
  margin-top: 100px;
}
#newItemForm{
  margin-top: 100px
}

#like_button{
  background-color: white;
  border: none;
}